/* style.css */
:root {
  --main-color: #1ABC9C;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Noto Sans KR', sans-serif;
}
a {
  text-decoration: none;
}
ul {
  list-style-type: none;
}
/*  
  1.사진영역높이: 59%
  2.하단정보영역 높이: 46%
  3.서체, 색상 설정
*/

header {
  position: absolute;
  width: 100vw;
}

header > .back-btn {
  position: absolute;
  left: 30px;
  top: 30px;
}
header > .toggle-btn {
  position: absolute;
  right: 30px;
  top: 30px;
  background: none;
  border: none;
}
header .back-btn, header .toggle-btn {
  font-size: 28px;
  color: #fff;
  z-index: 999;
}

.card {
  position: relative;
  width: 100vw; 
  height: 100vh;
  background: #ccc;
}
.card > figure {
  height: 59vh;
  background: #999;
  background-image: url(images/profile.jpg);
  background-size: cover;
}

/* 사진 그라디언트 필터 효과 */
.card > .figure > .filter {
  
}

.card .info {
  height: 46vh;
  width: 100vw;
  position: absolute;
  background: #fff;
  bottom: 0;
  left: 0;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  /* outline: 1px solid red; */
  width: 100vw;
  text-align: center;
}

.card .info .name {
  font-size: 22px;
  margin-bottom: 17px;
  font-weight: bold;
}
.card .info .location {
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 50px;
}

.count-info {
  width: 100%;
  display: flex;
  margin-bottom: 50px;
}
.count-info > li {
  flex: 1;
  /* height: 60px; */
  /* background: #eee; */
  border-right: 1px solid #707070;
}
.count-info > li:last-child {
  border-right: none;
}
.count-info .count{
  font-size: 22px;
  font-weight: bold;
  line-height: 26px;
}
.count-info span {
  font-size: 12px;
  color: #707070;
}